/*HEADER*/
* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0;
}
/*.header {    
    display: flex;
    align-items: center;
    justify-content: space-between;
}*/

.header {
    display: grid;
    grid-template-columns: 15fr 1fr 1fr 1fr;
    margin-left: 20px;
}



.logo_reservia {
    width: 100px;
}

.header a{
    text-decoration: none;
    padding: 20px;
    color: #0065FC;
}

.header a:nth-child(3) {
    color: #000000;
}

.page_active {
    border-top: solid 2px #0065FC;
}



/*BARRE DE RECHERCHE*/

.top_page {
    margin-left: 20px;
}

.search {
    display: flex;
    align-items: center;
}

.fa-map-marker-alt {
    background: #F2F2F2;
    padding: 11px;
    border-radius: 15px 0 0 15px;
}

.barre_de_recherche {
    border: solid 0.1px #F2F2F2;
    padding: 11px
}

.bouton {
    background: #0065FC;
    color: white;
    padding: 10px;
    border-radius:0 15px 15px 0px;
    text-decoration: none;
}

.fa-search {
    text-indent: -9999em;
}

.section_filtres {
    display: flex;
    margin-top: 10px;
    align-items: center;
}



.filtres {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.section_filtres h3:first-child {
    margin-right: 25px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.filtres h3:nth-child(n+2) {
    margin-right: 20px;
    padding-left: 50px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: solid 2px #F2F2F2;
    border-radius: 50px;
}

.filtres h3:nth-child(n+2):hover {
    color: #0065FC;
}

.icone_filtre {
    display: flex;
    align-items: center;
}

.icone_filtre i {
    color: #0065FC;
    background: #DEEBFF;
    padding: 15px;
    border-radius: 50px;
    position: absolute; 
    text-align: center;
    width: 20px;
}

.info {
    display: flex;
    align-items: center;
}

.info i {
    margin-right: 10px;
    border: solid 2px #F2F2F2;
    padding: 5px;
    border-radius: 50%;
    width: 20px;
    text-align: center;
    color: #0065FC;
}

/*HEBERGEMENTS*/

.lieux_sympas {
    display: flex;
    margin: 0 10px;
}

.box_hebergements {
    background: #F2F2F2;
    width: 70%;
    border-radius: 25px;
    padding: 25px 30px 0; 
}

.box_hebergements a {
    text-decoration: none;
    color: inherit;
}

.hebergement_titre {
    font-size: 20px;
}

.box_hebergements ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
    justify-content: space-between;
    
}

.box_hebergements li {
    width: 30%;
    list-style: none;
    background: #FFFFFF;
    margin-bottom: 25px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 1px 1px 6px #CECECE;
}

.box_hebergements h3 {
    margin: 5px 0;
}

.box_hebergements p {
    margin: 5px 0;
}

.image_hebergement {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.titre_hebergement {
    padding-left: 15px
}

.box_hebergements i {
    color: #0065FC;
}

.hebergement .star_grey {
    color: grey;
}

.box_hebergements .afficher_plus{
    text-decoration: none;
    color: inherit;
}


/*POPULAIRES*/

.populaires {
    background: #F2F2F2;
    width: 30%;
    border-radius: 25px;
    padding: 30px 30px;
    margin:  0 0 0 25px;
}

.top_aside {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
}

.top_aside h3 {
    margin: 0 0 15px 0;
    
}

.article_aside {
    display: flex;
    margin-bottom: 25px;
    background: #FFFFFF;
    border-radius: 25px;
    padding: 5px;
    box-shadow: 1px 1px 6px #CECECE;
    text-decoration: none;
    color: inherit;
}

.image_populaire {
    min-width: 200px;
    width: 200px;
    height: 200px;
    margin-right: 30px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    object-fit: cover;
}

.populaire {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 5px;
}

.article_aside i{
    color: #0065FC; 
}

.populaire .star_grey {
    color: grey;
}

/* ACTIVITES A MARSEILLES */

.activite_marseille {
    margin: 0 20px;
}

.img_activites {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex-wrap: wrap
}

.deux_img {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nom_img {
    border-radius: 25px;
    box-shadow: 1px 1px 6px #CECECE;
    text-decoration: none;
    color: inherit;
}

.une_img {
    display: flex;
}

.nom_img h3{
    margin-left: 20px;
}

.longue_img {
    width: 350px;
    height: 500px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.box_deux_img {
    display: flex;
}

.courte_img {
    width: 350px;
    height: 200px;
    background-size: cover;
    background-position: center;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.moins_courte_img {
    height: 270px;
}

.plus_courte_img {
    height: 130px;
}

/* FOOTER */

.footer {
    display: flex;
    background: #F2F2F2;
    margin-top: 50px;
    width: 100%;
    justify-content: space-between;
}

.footer li {
    list-style: none;
    width: auto;
    line-height: 2em;
}

.footer li h3 {
    font-size: 20px;
}

.footer ul:last-child {
    margin-right: 29%;
}

@media (max-device-width: 1530px) {
    
    
    /*POPULAIRE / HEBERGEMENT*/ 
    
    .lieux_sympas {
        flex-direction: column;
    }
    
    .box_hebergements {
        order: 1;
        width: auto;
        background: none;
    }
    
    .populaires {
        width: auto;
        margin: auto;
        margin-bottom: 15px;
    }
    
    .box_populaires {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: auto;
    }
    
    .article_aside {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
    }
    
    .image_populaire { 
        width: 100%;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0;
    }
    
    .populaire {
        padding-left: 15px;
    }
    
    .titre_populaires h3 {
        margin: 5px 0;
    }
    
    .titre_populaires p {
        margin: 5px 0;
    }
    
    /*ACTIVITES MARSEILLE*/
    
    .img_activites {
        flex-wrap: nowrap;
    }
    
    .nom_img {
        width: 100%;
    }
    
    .une_img {
        width: 100%;
        margin-right: 5px;
    }
    
    .longue_img {
        width: 100%;
    }
    
    .deux_img {
        width: 100%;
    }
    
    .deux_img:nth-child(2) {
        margin-right: 5px;
    }
    
    .courte_img {
        width: 100%;
    }
    
}

@media (max-device-width: 1290px) {
    
    /*HEBERGEMENT / POPULAIRE*/
    
    .lieux_sympas {
        flex-direction: column;
    }
    
    .box_hebergements {
        order: 1;
        width: auto;
    }
    
    .populaires {
        width: auto;
        margin: auto;
    }
    
    .box_populaires {
        display: flex;
    }
    
    .article_aside {
        width: 30%;
        display: flex;
        flex-direction: column;
        margin-bottom: 25px;
    }
    
    .image_populaire { 
        width: 100%;
        border-top-right-radius: 25px;
        border-bottom-left-radius: 0;
    }
    
}

@media (max-device-width: 1130px) {
    
    /*ACTIVITES MARSEILLE*/
    
    .img_activites {
        display: grid;
        grid-template-columns: 49% 49%;
    }
    
    .nom_img {
        margin-top: 15px;
    }
    
    /*FOOTER*/
    
    .footer ul:last-child {
        margin-right: 0;
        padding-right: 40px;
    }
}

@media (max-device-width: 890px) {
    
    
    /* BARRE DE RECHERHE*/
    
    .barre_de_recherche {
        width: 40%;
    }
    
    .section_filtres {
        flex-direction: column;
        align-items: baseline;
    }
    
    .filtres {
        flex-wrap: wrap;
    }
    
    .icone_filtre i {
        margin-bottom: 5px;
    }
    
    .icone_filtre h3 {
        margin: 0 5px 5px 5px;
    }
    
    /*HEBERGEMENTS*/
    
    .box_hebergements {
        display: flex;
        flex-wrap: wrap;
    }
    
    .box_hebergements li {
        width: 45%;
    }
    
    /* POPULAIRES */
    
    .box_populaires {
        display: grid;
        grid-template-columns:  50% 50%;
        grid-template-rows: 50% 50%;
    }
    
    .top_populaire {
        grid-column-start: 1;
        grid-column-end: 3;
        margin: auto;
    }
    
    .article_aside {
        width: 95%;
        margin-bottom: 15px;
    }
    
    
}

@media (max-device-width: 480px) {
    
    /* HEADER */
    
    .header {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    
    .inscription {
        text-align: end;
    }
    
    .ligne2 {
        grid-row-start: 2;
        text-align: center;
        border-bottom: solid 2px #F2F2F2;
    }
    
    .page_active {
        border: none;
        border-bottom: solid 2px #0065FC;
    }
    
    /* Barre de recherche */
    
    .top_page {
        width: 90%;
        margin: auto;
    }
    
    .txt_top_page {
        font-size: 25px;
        margin-top: 15px;
    }
    
    .p_top_page {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    .barre_de_recherche {
        width: 80%;
    }
    
    .search {
        justify-content: center;
    }
    
    .barre_de_recherche { 
        border: none;
    }
    
    .bouton {
        text-indent: -9999em;
        border-radius:10px 10px 10px 10px
    }
    .fa-search {
        text-indent: 9993.6em;
    }
    
    /* HEBERGEMENT / POPULAIRES */
    
    .lieux_sympas {
        flex-direction: column;
    }
    
    .box_hebergements {
        order: 1;
        width: auto;
    }
    
    .box_hebergements ul {
        flex-direction: column;
        flex-wrap: nowrap;
    }
    
    .box_hebergements li {
        width: auto;
        box-shadow: 0px 1px 10px #CECECE;
    }
    
    .populaires {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        border-radius: 0;
    }

    .top_aside {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 25px;
    }
    
    .box_populaires {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
    }
    
    .article_aside {
        margin-left: 15px;
        margin-right: 15px;
        flex-direction: row;
        width: auto;
    }
    
    .image_populaire {
        min-width: 150px;
        width: 150px;
        height: 150px;
        border-bottom-left-radius: 25px;
        border-top-right-radius: 0;
        margin-right: 10px;
    }
    
    .populaire {
        margin: auto;
    }
    
    
    .article_aside i {
        margin-top: 15px;
    }
    
    .box_hebergements .hebergement_titre {
        margin-left: 15px;
        margin-right: 15px;
        margin-top: 25px;
    }
    
    .box_hebergements {
        background: #fff;
        width: 100%;
        padding: 0;
        margin: auto;
    }
    
    .hebergement {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .image_hebergement {
        height: 120px;
    }
    
    .afficher_plus h3{
        margin-left: 15px;
        margin-right: 15px;
    }
    
    /* ACTIVITES A MARSEILLE */
    
    .activite_marseille {
        width: 100%;
        margin: 0;
    }
    
    .activite_marseille h1 {
        margin-left: 15px;
        margin-right: 15px;
    }
    
    .img_activites {
        display: flex;
        flex-direction: column;
        
    }
    
    .nom_img {
        width: 100%;
        margin: auto;
    }
    
    .une_img {
        width: auto;
        margin-top: 25px;
        margin-left: 15px;
        margin-right: 15px; 
    }
    
    .deux_img {
        width: auto;
    }
    
    .box_deux_img {
        margin-top: 25px;
        margin-left: 15px;
        margin-right: 15px;
        display: flex;
    }
    
    .longue_img {
        height: 130px;
        width: auto;
    }
    
    .courte_img {
        width: auto;
        height: 130px;
    }
    
    /* FOOTER */
    
    .footer {
        flex-direction: column;
        padding-bottom: 50px;
    }
    
    .footer ul:last-child {
        margin: 0;
    }
    
    .footer h3 {
        margin: 0;
    }
}